.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  font-family: sans-serif;
  text-align: center;
}

.user-name{
  font-size: 32px;
}
.user-pic{
  height: 12rem;
  width: 12rem;
  object-fit: cover;
  border-radius: 50%;
}

.movie-name{
  font-size: 24px;
  margin: 0;
}

.movie-spaces{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container{

  width: 340px;
  margin: 5%;
  margin-left: 5%;
  color: white;
  text-decoration-color: white;
  

}

.movie-poster{
  height: 400px;
  width: 340px;
  object-fit: cover;
}
.movie-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  gap: 3rem;
  justify-items: center;
}
.text{
  text-decoration:none;
}
.box{
  height: 30px;
}

.co{
  color: white;
}
 